.container {
	background-color: hsl(var(--chatcontent-background));

	padding: 1rem/* 16px */;

	border-bottom: 1px solid #e5e7eb;;

	display: flex;

	align-items: center;
}

.avatar {
	height: 2.5rem/* 40px */;
	width: 2.5rem/* 40px */;
}

.chatName {
	margin-left: 0.75rem/* 12px */;
	font-weight: 600;
}
